<template>
  <v-row>
    <v-col>
      <v-row>
        <v-tabs center-active centere align-with-titled grow>
          <v-tab
            class="my-2 mx-1"
            v-for="(item, index) in items"
            :key="index"
            @click="emitSelectedProject(item)"
            >{{ item.name }}</v-tab
          >
        </v-tabs>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import projects from "@/data/projects.json";

function sortByName(items) {
  return items.sort((x, y) => x.name.localeCompare(y.name));
}

export default {
  name: "ProjectAreaMenu",
  props: {
    language: String,
  },
  data: () => ({
    projects: projects,
    active: "",
  }),
  methods: {
    emitSelectedProject(item) {
      this.active = item.name;
      this.$emit("selectedProject", item);
    },
  },
  computed: {
    items() {
      return sortByName(this.projects[this.language]);
    },
  },
  created() {
    this.items.map((x) => (x.color = "info"));
    this.emitSelectedProject(this.items[0]);
  },
};
</script>
