<template>
  <v-container>
    <template>
      <v-card fluid class="mx-auto">
        <v-list-item>
          <v-list-item-avatar flat><img :src="data.logo"/></v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="headline">{{
              data.name
            }}</v-list-item-title>
            <v-list-item-subtitle class="text-body-2">{{ data.headline }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-carousel
          hide-delimiter-background
          show-arrows-on-hover
          cycle
          continuous
          interval="3000"
          :height="adaptedHeight"
        >
          <v-carousel-item eager v-for="(image, i) in data.images" :key="i">
            <v-img :src="image"></v-img>
          </v-carousel-item>
        </v-carousel>

        <v-card-text class="text-body-1">
          {{ data.description }}
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn text :href="data.links.gitlab" target="_blank">
            see project
            <v-icon class="ml-5" large right>mdi-gitlab</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </template>
  </v-container>
</template>

<script>
export default {
  name: "ProjectAreaDescription",
  props: {
    language: String,
    data: Object,
  },
  data: () => ({
    carousel: {
      height: {
        xs: 150,
        sm: 285,
        md: 400,
        ld: 532,
        xl: 820,
      }
    }
  }),
  computed: {
    adaptedHeight() {
      return this.carousel.height[this.$vuetify.breakpoint.name];
    },
  },
};
</script>
