<template>
  <v-timeline>
    <v-timeline-item
      v-for="(item, index) in items"
      :key="index"
      :color="gradient[index]"
      small
      right
    >
      <template v-slot:opposite>
        <span
          :class="`headline font-weight-medium`"
          :style="`color: ${gradient[index]}`"
          v-text="toFormattedDate(item)"
        ></span>
      </template>
      <div class="py-4">
        <h2 :class="`headline font-weight-light mb-4`" :style="`color: ${gradient[index]}`">
          {{ item.title }}
        </h2>
        <div v-html="toDescription(item)"></div>
      </div>
    </v-timeline-item>
  </v-timeline>
</template>

<script>
const COLOR_THEME = "cyan";
import education from "@/data/education.json";
import workExperiences from "@/data/work-experiences.json";
import EtherealColor from "ethereal-color";

function parseDate(date, options) {
  return new Date(date).toLocaleDateString(navigator.language, options);
}

function sortByDate(items) {
  return items.sort((x, y) => new Date(x.dateFrom) - new Date(y.dateFrom));
}

export default {
  name: "ExperienceTimeline",
  data: () => ({
    experiences: workExperiences,
    education: education,
    color: COLOR_THEME,
    timeline: new Set(),
    gradient: undefined
  }),
  props: {
    language: String,
  },
  methods: {
    toDescription(item) {
      return `<b>${item.institution}</b>, <i>${item.location}</i>`;
    },
    toFormattedDate(item) {
      const pDate = parseDate(new Date(item.dateFrom), {
        year: "numeric",
        month: "long",
        day: "numeric",
      });
      this.timeline.add(pDate);
      return pDate;
    },
    gradientFromItems(items) {
      const startColor = EtherealColor.Color("#094879");
      const endColor = EtherealColor.Color("#00b3ff");
      const palette = EtherealColor.Palette([startColor, endColor]);
      const gradient = EtherealColor.Gradient(palette, { count: items.length });
      return gradient.toStringArray("rgb");
    },
  },
  computed: {
    items() {
      return sortByDate([
        ...this.experiences[this.language],
        ...this.education[this.language],
      ]);
    },
  },
  created() {
    this.gradient = this.gradientFromItems(this.items);
  },
};
</script>
