<template>
  <v-container class="d-flex justify-center">
    <div>
      <v-avatar class="my-2" size="128" height="138">
        <img src="@/assets/avatar.png" />
      </v-avatar>
    </div>
    <div class="pl-6 pt-10 font-weight-light text-h2">
      Rainui Ly
      <p class="my-2 text-body-2">
        <v-btn 
          class="pb-1"
          icon
          href="https://fr.linkedin.com/in/rainui-ly-891b4b12a"
          target="_blank"
        >
          <v-icon color="primary">{{ icons.linkedin }}</v-icon>
        </v-btn>
        {{ description[language] }}
      </p>
    </div>
  </v-container>
</template>

<script>
import { mdiLinkedin } from "@mdi/js";

export default {
  name: "ProfileAvatar",
  props: {
    language: String,
  },
  data: () => ({
    description: {
      fr: "Apprenti Ingénieur DevOps",
      en: "Apprentice DevOps Engineer",
    },
    icons: {
      linkedin: mdiLinkedin,
    },
  }),
};
</script>
