<template>
  <v-container>
    <project-area-menu
      :language="language"
      @selectedProject="fetchSelectedProject"
    />
    <project-area-description class="my-6" :data="data" />
  </v-container>
</template>

<script>
import ProjectAreaDescription from "@/components/project-area/ProjectAreaDescription.vue";
import ProjectAreaMenu from "@/components/project-area/ProjectAreaMenu.vue";

export default {
  name: "ProjectArea",
  components: {
    ProjectAreaDescription,
    ProjectAreaMenu,
  },
  props: {
    language: String,
  },
  data: () => ({
    data: {
      logo: "",
      name: "",
      headline: "",
      links: {},
      images: []
    },
  }),
  methods: {
    fetchSelectedProject(project) {
      this.data = project;
    },
  },
};
</script>
