<template>
  <v-container>
    <v-row align="center" justify="center">
      <v-col class="my-2 mx-auto" v-for="(skill, index) in items" :key="index" cols="auto">
        <div >
          <a :href="skill.link" target="_blank">
          <img :src="skill.logo" width="64"/>
          </a>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import skills from "@/data/skills.json";

export default {
  name: "SkillPanel",
  data: () => ({
    panel: [0, 1],
    skills: skills,
  }),
  computed: {
    items() {
      return Object.values(this.skills).flat();
    },
  },
};
</script>
