<template>
  <v-app>
    <v-app-bar app color="primary" dark hide-on-scroll dense flat>
      <v-tabs align-with-title grow>
        <v-tab @click="jumpToAnchor('education')">{{
          title.education[language]
        }}</v-tab>
        <v-tab @click="jumpToAnchor('projects')">{{
          title.projects[language]
        }}</v-tab>
        <v-tab @click="jumpToAnchor('skills')">{{
          title.skills[language]
        }}</v-tab>
      </v-tabs>

      <v-divider vertical class="mx-6" />

      <v-btn href="/cv-en-2021.pdf" target="_blank" outlined>
        <span class="mr-2">{{ appBar.cv[this.language] }}</span>
        <v-icon>mdi-download</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main app>
      <v-container>
        <profile-avatar id="section-profile-avatar" :language="language" />
        <v-divider class="ma-2" />
        <h1 id="education" class="text-center text-h3 font-weight-thin ma-6">
          {{ title.education[language] }}
        </h1>
        <experience-timeline id="section-education" :language="language" />
        <v-divider class="ma-2" />
        <h1 id="projects" class="text-center text-h3 font-weight-thin ma-6">
          {{ title.projects[language] }}
        </h1>
        <project-area id="section-projects" :language="language" />
        <v-divider class="ma-2" />
        <h1 id="skills" class="text-center text-h3 font-weight-thin ma-6">
          {{ title.skills[language] }}
        </h1>
        <skill-panel :language="language" />
      </v-container>
    </v-main>
    <v-divider class="my-10" />
    <v-footer absolute class="font-weight-medium" color="lightdarken-2">
      <v-row align="center" justify="center">
        <v-col cols="4">
          <v-btn text>© Rainui Ly</v-btn>
        </v-col>
        <v-col class="text-center" cols="4">
           <v-btn href="mailto:rainui@protonmail.com" outlined><v-icon  class="mr-2">mdi-email</v-icon> <strong>{{ contact[language] }}</strong></v-btn>
        </v-col>
        <v-col class="text-right pr-5" cols="4">
          <v-btn text href="https://gitlab.com/KidR/webcv" target="_blank">
            see webcv code
            <v-icon class="ml-5" large right>mdi-gitlab</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-footer>
  </v-app>
</template>

<script>
import ExperienceTimeline from "@/components/ExperienceTimeline.vue";
import SkillPanel from "@/components/SkillPanel.vue";
import ProjectArea from "@/components/ProjectArea.vue";
import ProfileAvatar from "@/components/ProfileAvatar.vue";

const SUPPORTED_LANG = ["en","fr"];
const DEFAULT_LANG = "en"

export default {
  name: "App",
  components: {
    ExperienceTimeline,
    SkillPanel,
    ProjectArea,
    ProfileAvatar,
  },
  data: () => ({
    title: {
      education: {
        fr: "Formations",
        en: "Education",
      },
      workExperiences: {
        fr: "Expériences professionnelles",
        en: "Work experiences",
      },
      projects: {
        fr: "Projets",
        en: "Projects",
      },
      skills: {
        fr: "Compétences",
        en: "Skills",
      },
    },
    contact: {
      fr: "Contactez-moi",
      en: "Contact me"
    },
    appBar: {
      cv: {
        fr: "Télécharger CV",
        en: "Download CV",
      },
    },
  }),
  methods: {
    jumpToAnchor(anchor) {
      if (!anchor.startsWith("#")) {
        anchor = `#${anchor}`;
      }
      location.hash = anchor;
    },
  },
  computed: {
    language() {
      return SUPPORTED_LANG.includes(navigator.language.slice(0,2)) ? navigator.language.slice(0,2) : DEFAULT_LANG;
    },
  }
};
</script>
